:root {
  --black: black;
  --white: white;
  --orange: #ffb619;
  --text: #5e5d59;
  --text2: #a6a5ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gumela';
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
}

@font-face {
  font-family: Gumela;
  src: url('../src/fonts/Gumela\ Regular.otf');
}

.App {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 8px;
}

.button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 16px 26px;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.button:hover {
  background: var(--white);
  border: 2px solid var(--orange);
  color: var(--orange);
}

a {
  text-decoration: none;
  color: var(--text2);
}

.col {
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  .App {
      padding: 0 8px;
  }
}
